img#boxImg {
    width: 100%;
    max-width: 15em;
    margin: 0.4em;
    max-height: 15em;
}

.prevNext {
    font-size: 1.5em !important;
    padding: 0em;
    width: 2em;
}

textarea:disabled {
    background-color: var(--background);
    color: var(--text);
    font: inherit;
    overflow-y: scroll;
    width: auto;
    max-height: 8lh;
    height: 8lh;
    resize: none;
    border-radius: var(--borderRadius);
    border-color: transparent;
    border-width: var(--borderWidth);
}

textarea:enabled {
    background-color: var(--backgroundDarker);
    color: var(--text);
    font: inherit;
    width: auto;
    height: 5lh;
    border-radius: var(--borderRadius);
    border-color: var(--text);
    border-width: var(--borderWidth);
    outline: none;
}